# Python virtual environments
.venv/
venv/
env/

# Python cache / compiled files
__pycache__/
*.py[cod]
*$py.class

# Jupyter
.ipynb_checkpoints/

# macOS
.DS_Store

# VS Code
.vscode/

# Python tooling
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Packaging
build/
dist/
*.egg-info/

# Environment / secrets
.env
.env.*